# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Ignore Jupyter Notebooks and their internal checkpoints
*.ipynb
.ipynb_checkpoints/

# Personal / Testing files
tests/my_personal.py